
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap');


*{
    margin: 0;
    padding: 0;
}
nav{
    background-color: yellowgreen;
    color:black;
    height: 65px;
    font-size: 30px;
    display: flex;
    align-items: center;
    padding: 12px;
    font-family: 'Playfair Display', serif;
}


nav ul{
    list-style-type: none;
    height: 120px;
}

.gameContainer{
background-color: white;
display: flex;
justify-content: center;
margin-top: 50ox;
}

.container{
    display: grid;
    grid-template-rows: repeat(3, 10vw);
    grid-template-columns: repeat(3, 10vw);
    font-family:  'Playfair Display', serif;
    position: relative;
}
/* .img{
    height: 10px;
    width: 12px;
} */

.box{
    border: 2px solid black;
    font-size: 8vw;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box:hover{
    background: rgb(235, 160, 235);
}

.gameInfo{
    margin:0 ;
    padding: 34px;
    
}

.imgbox img{
    width: 0;
    transition: width 1s ease-in-out;
}

.br-0{
    border-right: 0;
}

.bl-0{
    border-left: 0;
}

.bt-0{
    border-top: 0;
}

.bb-0{
    border-bottom: 0;
}

#reset{
    margin: 0 23px;
    padding: 6px 14px;
    border-radius: 6px;
    background-color: wheat;
    cursor: pointer;
}
.line{
    background-color: black;
    height: 2px;
    width:0;
    position: absolute;
    transition: width 1s ease-in-out;
}